<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>test</title>
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href= "{% static "css/style.css" %}"  >
    
</head>
<body>
	<div class="raw_lines">
		<div class="specitem" id="line1">
			
			<div class="itemtag">				    
				<p> </p>
			</div>

			<div class="itemtype">				    
			<p class="seccaption">Приборы КИПиА</p>
			</div>

			<div class="itemordercode">
				<p> </p>
			</div>

			<div class="productcode">
				<p> </p>
			</div>

			<div class="manufacturer">
				<p> </p>
			</div>

			<div class="amount_unit">
				<p></p>
			</div>

			<div class="amount">
				<p> </p>
			</div>
		</div>

		<div class="specitem" id="line2">
		
			<div class="itemtag">				    
				<p>PT1, PT2, PT3, PT4, PT5, PT6, PT7, PT8, PT9, PT10, PT11, PT12, PT13, PT14, PT15, PT16, PT17...</p>
			</div>

			<div class="itemtype">				    
			<p>Датчик давления </p>
			</div>

			<div class="itemordercode">
				<p>Метран-150CG 150CGR 150TG 150TGR </p>
			</div>

			<div class="productcode">
				<p> </p>
			</div>

			<div class="manufacturer">
				<p>Emerson </p>
			</div>

			<div class="amount_unit">
				<p>Шт.</p>
			</div>

			<div class="amount">
				<p>1 </p>
			</div>
		</div>

		<div class="specitem" id="line3">
		
			<div class="itemtag">				    
				<p>TT1 ... TT4 </p>
			</div>

			<div class="itemtype">				    
			<p>Датчик температуры </p>
			</div>

			<div class="itemordercode">
				<p>Метран-286  </p>
			</div>

			<div class="productcode">
				<p> </p>
			</div>

			<div class="manufacturer">
				<p>Emerson </p>
			</div>

			<div class="amount_unit">
				<p>Шт.</p>
			</div>

			<div class="amount">
				<p>4 </p>
			</div>
		</div>

		<div class="specitem" id="line4">
		
			<div class="itemtag">				    
				<p>PGS1, PGS2</p>
			</div>

			<div class="itemtype">				    
			<p>Манометр электроконтактный </p>
			</div>

			<div class="itemordercode">
				<p>ДМ-2005  </p>
			</div>

			<div class="productcode">
				<p> </p>
			</div>

			<div class="manufacturer">
				<p>Манотомь </p>
			</div>

			<div class="amount_unit">
				<p>Шт.</p>
			</div>

			<div class="amount">
				<p>2 </p>
			</div>
		</div>
		<div class="specitem" id="line5">
			
			<div class="itemtag">				    
				<p>PT1, PT2, PT3, PT4, PT5, PT6, PT7, PT8, PT9, PT10, PT11, PT12 </p>

			</div>

			<div class="itemtype">				    
			<p>Датчик давления </p>
			</div>

			<div class="itemordercode">
				<p>Метран-150CG 150CGR 150TG 150TGR </p>
			</div>

			<div class="productcode">
				<p> </p>
			</div>

			<div class="manufacturer">
				<p>Emerson </p>
			</div>

			<div class="amount_unit">
				<p>Шт.</p>
			</div>

			<div class="amount">
				<p>12 </p>

			</div>
		</div>
<!-- 		<div class="specitem" id="line6">
			
			<div class="itemtag">				    
				<p>PT1, PT2, PT3, PT4, PT5, PT6, PT7, PT8, PT9, PT10, PT11, PT12, PT13, PT14, PT15, PT16, PT17 </p>

			</div>

			<div class="itemtype">				    
			<p>Датчик давления </p>
			</div>

			<div class="itemordercode">
				<p>Метран-150CG 150CGR 150TG 150TGR </p>
			</div>

			<div class="productcode">
				<p> </p>
			</div>

			<div class="manufacturer">
				<p>Emerson </p>
			</div>

			<div class="amount_unit">
				<p>Шт.</p>
			</div>

			<div class="amount">
				<p>16 </p>

			</div>
		</div> -->



		<div class="first_page" id="fp0">		
			<div class="speccontainer" id="container01">
			</div>
		</div>


		<div class="next_page" id="np0">
			<div class="speccontainer" id="container02">			
			</div>	
		</div>
	</div>



	


	
	<script src="{% static "scripts/scr.js" %}"></script>
</body>
</html>



